@import "../../../../styles/global.scss";

.home {
  &-header {
    min-height: 100vh;
    background: url(../../../../../public/images/header-bg.png) no-repeat center;
    background-size: cover;
    &-title {
      @include font-size(75.68px);
      font-weight: bold;
    }
  }
}
