@import "../../../../styles/global.scss";

.home {
  &-header {
    min-height: 100vh;
    background: url(../../../../../public/images/header-bg.png) no-repeat center;
    background-size: cover;
    &-title {
      @include font-size(75.68px);
      font-weight: bold;
    }
    &-search {
      position: relative;
      &-icon {
        position: absolute;
        top: 27px;
        inset-inline-start: rem(13px);
        background: $white;
        padding-inline-start: rem(5px);
        svg {
          font-size: 1.3em;
        }
        @include media-breakpoint-down(sm) {
          padding-inline-start: 0;
          inset-inline-start: rem(9px);
        }
      }
      &-input {
        width: 100%;
        border-radius: rem(5.406px);
        text-indent: 45px;
        height: 84px;
        padding-inline-end: rem(192px);
        border: 1px solid transparent;
        @include font-size(22px);
        @include media-breakpoint-down(md) {
          @include font-size(18px);
        }
        @include media-breakpoint-down(sm) {
          height: 75px;
          padding-inline-end: rem(112px);
          padding-top: rem(9px);
          text-indent: 33px;
          @include font-size(11.5px);
        }
      }
      &-btn {
        position: absolute;
        width: max-content;
        top: 17px;
        inset-inline-end: 20px;
        padding: rem(10px) rem(28px);
        @include media-breakpoint-down(sm) {
          inset-inline-end: 8px;
          font-size: rem(12px) !important;
          top: 22px;
        }
      }
    }
  }
}
